@model PromjeniPasswordVM






<div class="modal fade" id="passwodPormjena" tabindex="-1" role="dialog" aria-labelledby="dodajOdljenjeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center" id="dodajOdljenjeLabel">Promjeni password</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <form asp-action="SnimiPassword" method="post">

                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                            <input asp-for="KorisnickiNalogId" type="hidden" class="form-control" value="@Model.KorisnickiNalogId" />

                            <div class="row">
                                <div class="form-group">
                                    <label asp-for="StariPassword">Stari password</label>
                                    <input asp-for="StariPassword" type="password" class="form-control" placeholder="Unesite stari password" />
                                    <span asp-validation-for="StariPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NoviPassword">Novi password</label>
                                    <input asp-for="NoviPassword" type="password" class="form-control" placeholder="Unesite novi password" />
                                    <span asp-validation-for="NoviPassword" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <label asp-for="PromjeniPassword">Ponovi paswword</label>
                                    <input asp-for="PromjeniPassword" type="password" class="form-control" placeholder="Ponovite password" />
                                    <span asp-validation-for="PromjeniPassword" class="text-danger"></span>
                                </div>





                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-save="modal" data-url="@Url.Action("Index", "Administrator")">Save</button>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function (parametars) {

        $('button[data-save="modal"]').click(function (event) {


            event.preventDefault();
            var form = $(this).parents('.modal').find('form');
            var nesto = form.valid();
            var actionUrl = form.attr("action");
            var url = $(this).attr('data-url');
            var modalID = $(".modal").attr('id');





            var dataToSend = new FormData(form.get(0));

            if (nesto) {
                $.ajax({ url: actionUrl, method: 'post',async:false, data: dataToSend, processData: false, contentType: false }).
                    done(function (data) {
                        var newBody = $('.modal-body', data);
                        $("#" + modalID).find('.modal-body').replaceWith(newBody);



                        if (newBody.find('[name="IsValid"]').val() !== "False") {

                            $('.modal').modal('hide');
                            window.location = url;

                        }

                    });
            }




        });

    });
</script>
