@model eSchoolSemi.Web.Helper.PaginatedList<Roditelj>
@{
    ViewData["Title"] = "Lista RODITLEJA";


}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-5 verti">

                <input type="text" class="form-control" id="roditeljValue" placeholder="Pornadji roditelja" />
            </div>
            <div class="col-sm-3">

                <button id="dugmeID" class="btn btn-info">Pronadji</button>
            </div>
        </div>
    </div>
</div>

<br />


<br />



<div id="tabelaID" data-table="ajaxDiv"></div>
<div id="modalRoditelj"></div>
<script>
    $(document).ready(function (parametars) {

        $.ajax({
            url: "@Url.Action("tabelaRoditelji","Roditelj")", success: function (result) {
                $("#tabelaID").html(result);
            }
        });


        $("#roditeljValue").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("nazivRoditelja", "Ucenik")",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.text, value: item.text };
                    }))

                }
            })
        }, error: function (xhr, status, error) {
            alert("Error");
        },
        minLength: 2
    });
    });



    $("#dugmeID").click(function (parametars) {

        var searchString = $("#roditeljValue").val();
        $(this).addClass("disabled");

        $.ajax({
            url: "/AdministratorModul/Roditelj/tabelaRoditelji/?search=" + searchString + "&&sortOrder=" + "@ViewData["NameSortParm"]", async: false, success: function (result){

                $("#dugmeID").removeClass("disabled");
                $("#tabelaID").html(result);

            }
        });

    });



</script>