@model List<eSchoolSemi.Web.Areas.NastavnikModul.ViewModels.OdrzaniCasIndexVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/NastavnikModul/Views/Shared/_Layout.cshtml";
}
<h1>Casovi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Datum Odrzavanja</th>
            <th>Akcija</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Predmet</td>
                <td>@item.DatumOdrzavanja</td>
                <td>
                    <a class="btn btn-primary" href="/NastavnikModul/Razrednik/Edit?OdrzaniCasID=@item.OdrzaniCasID&OdjeljenjeID=@item.OdjeljenjeID&_Odjeljenje=@item.OznakaOdjeljenja&_Predmet=@item.Predmet">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

